fastapi
uvicorn
python-dotenv
pydantic
langchain
langgraph
langchain-community
langchain-huggingface
langchain-groq
sentence-transformers
chromadb
youtube-transcript-api
google-api-python-client
yt-dlp
faster-whisper
instaloader
